:root {
	--h1-color: #fff;
	--h2-color: #52eea3;
	--h3-color: #51e1e9;
	--h4-color: #437cf3;
	--h5-color: #6f51f4;
	--h6-color: #c952ed;
	--bold-color: #37aaff;
	--italic-color: #ff82b2;
}

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 4px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}

/* journal class */
.inline-title,
.HyperMD-header-1,
.journal .HyperMD-header-6 {
	text-align: center;
	color: #fff;
}

.cm-strong {
	font-weight: 900;
}

.cm-em {
	font-weight: 300;
}