:root {
	--h1-color: #fff;
	--h2-color: #52eea3;
	--h3-color: #51e1e9;
	--h4-color: #437cf3;
	--h5-color: #6f51f4;
	--h6-color: #c952ed;
	--bold-color: #37aaff;
	--italic-color: #ff82b2;
}

/* journal class */
.inline-title,
.HyperMD-header-1,
.journal .HyperMD-header-6 {
	text-align: center;
	color: #fff;
}

.cm-strong {
	font-weight: 900;
}

.cm-em {
	font-weight: 300;
}